@media screen and (min-width: 1280px) {
    .navbar {
        width: calc(100% - 48px);
        height: 55px;
        padding: 0 24px;

        .nav-logo { height: 32%; }
        .nav-btn { 
            .btn-green { font-size: 12px; letter-spacing: 0.09em; }
            svg { font-size: 26px !important; margin-left: 15px; }
         }
    }
}


