@media screen and (min-width: 1280px) {
    .signin-list {    
        img { height: 55px }
        .title {
            font-size: 14px;
        }
        .entering-btn {    
            .forget {
                font-size: 13px;
            }
            .btn-green { 
                height: 40px;
                font-size: 14px;
            }            
        }
    
        .create-text {
            a {
                margin-top: 170px;
                font-size: 14px;
            }
        }
    }
}
