@media screen and (min-width: 1280px) {
    .btn-green {
        height: 35px;
        width: 120px;
        font-size: 13px;
    }

    input { 
        width: 500px;
        height: 40px;
     }
}




