body {
    background-color: #202334;
    font-family: Roboto;
    font-style: normal;
    margin: 0 auto;
}

// BUTTONS 
.btn-green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 20px;
    color: #fff;
    background: #60A810;
    border-radius: 4px;    
    font-weight: 500;
    font-size: 9px;
    letter-spacing: 0.005em;
}

// BUTTONS HOVER
.btn-green:hover {
    cursor: pointer;
    background-color: #497d10;
}


.menu {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: #202334cc;
    padding: 25px;    
    z-index: 3;
    
    .menu-content {
        width: 100%;
        height: calc(100% - 90px);
        background-color: #1B1D27;
        text-align: center;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .menu-list {            
            padding: 25px;
            display: flex;
            justify-content: center;
            padding-bottom: 0;

            ul {
                list-style: none;
                padding: 0;
                max-width: 215px;
                margin-bottom: 0;

                a { text-decoration: none; }
                a > li, li { 
                    font-family: 'Philosopher', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    letter-spacing: 0.005em;
                    color: #FFFFFF;
                    margin-bottom: 35px;
                    text-transform: uppercase;

                    .sub-menu {
                        margin-top: 21px;
                        text-align: left;

                        a {                             
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 9px;
                            line-height: 11px;
                            letter-spacing: 0.005em;
                            color: #4F4949;
                            text-decoration: none;
                            text-transform: capitalize;
                        }
                    }
                }

                .menu-auth {
                    margin-top: 70px;
                    margin-bottom: 0;

                    span { 
                        font-family: Philosopher;
                        font-style: italic;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 12px;
                        letter-spacing: 0.005em;
                        color: #923030;
                        text-transform: lowercase;
                     }
                    
                    a {
                        font-family: Philosopher;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.005em;
                        color: #FF8A00;
                        text-transform: unset;
                    }
                }
            }
        }


    }

    .close-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 40px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        color: white;
    }

    .close-menu:hover {
        cursor: pointer;
        color: #923030;
    }
}