.bg-img {
    position: absolute;
    left: 0; top: 41px; 
    width: 100%;
    height: 190px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

.cat-btn {
    position: absolute;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 31px;
    left: 0px; 
    top: 215px;

    background: #323351;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-flex;

    li { 
        width: calc(100% / 6);
        border-left: 0.5px solid #202334;
        border-right: 0.5px solid #202334;
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="checkbox"] { display: none; }
        input:checked + .input-label svg { fill: #FF8A00; } 

     }
}
