.pop-list {            
    padding: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 0;

    ul {
        list-style: none;
        padding: 0;
        max-width: 215px;
        margin-bottom: 0;

        a { text-decoration: none; }
        a > li, li { 
            font-family: 'Philosopher', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            letter-spacing: 0.005em;
            color: #FFFFFF;
            margin-bottom: 35px;
            text-transform: uppercase;

            .sub-pop {
                margin-top: 21px;
                text-align: left;

                a {                             
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 11px;
                    letter-spacing: 0.005em;
                    color: #4F4949;
                    text-decoration: none;
                    text-transform: capitalize;
                }
            }
        }

        .pop-auth {
            margin-top: 70px;
            margin-bottom: 0;

            span { 
                font-family: Philosopher;
                font-style: italic;
                font-weight: normal;
                font-size: 11px;
                line-height: 12px;
                letter-spacing: 0.005em;
                color: #923030;
                text-transform: lowercase;
             }
            
            a {
                font-family: Philosopher;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.005em;
                color: #FF8A00;
                text-transform: unset;
            }
        }
    }
}
